<html>
  <head>
    <title>Video Stream</title>
  </head>
  <body>
    <h1>Live Video Stream</h1>
    <script>
      function sendMotorCommand(command) {
        fetch(`http://192.168.104.15:5000/motor/${command}`, { method: 'GET' });
      }

      function setupButton(buttonId, command) {
        const button = document.getElementById(buttonId);
        button.onclick = () => sendMotorCommand(command);
      }

      window.onload = () => {
        setupButton('forward', 'forward');
        setupButton('backward', 'backward');
        setupButton('left', 'left');
        setupButton('right', 'right');
        setupButton('stop', 'stop');
      };

      const outputDiv = document.getElementById("output");
      const eventSource = new EventSource("/stream");

      let timeout = null;

      eventSource.onmessage = function(event) {
        outputDiv.innerHTML += event.data;  // Append new text

        // Reset the timeout every time new text arrives
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          outputDiv.innerHTML = ""; // Clear text if no new message in 3 sec
        }, 3000);
      };

      eventSource.onerror = function() {
        console.error("EventSource failed.");
        eventSource.close();
      };
    </script>
    <style>
      .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      justify-items: center;
      align-items: center;
      }
      .grid-container > button {
      width: 100px;
      height: 50px;
      }
    </style>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
      <img src="/video_feed" width="640" height="480">
      <div style="width: 20px;"></div>
      <div class="grid-container" style="display: flex; justify-content: center; align-items: center;">
        <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); gap: 10px; justify-items: center; align-items: center;">
          <div></div>
          <button id="forward" style="width: 100px; height: 100px;">Forward</button>
          <div></div>
          <button id="left" style="width: 100px; height: 100px;">Left</button>
          <button id="stop" style="width: 100px; height: 100px;">Stop</button>
          <button id="right" style="width: 100px; height: 100px;">Right</button>
          <div></div>
          <button id="backward" style="width: 100px; height: 100px;">Backward</button>
          <div></div>
        </div>
      </div>
    </div>
    <br/>
    <div id="output" style="width: 500px; word-wrap: break-word; text-align: center; margin: 0 auto;"></div>
  </body>
</html>