<html>
  <head>
    <title>Video Stream</title>
  </head>
  <body>
    <h1>Live Video Stream</h1>
    <script>
      function sendMotorCommand(command) {
        fetch(`http://192.168.104.15:5000/motor/${command}`, { method: 'GET' });
      }

      function setupButton(buttonId, command) {
        const button = document.getElementById(buttonId);
        button.onmousedown = () => sendMotorCommand(command);
        button.onmouseup = () => sendMotorCommand('stop');
        button.onmouseleave = () => sendMotorCommand('stop');
      }

      window.onload = () => {
        setupButton('forward', 'forward');
        setupButton('backward', 'backward');
        setupButton('left', 'left');
        setupButton('right', 'right');
      };
    </script>
    <style>
      .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      justify-items: center;
      align-items: center;
      }
      .grid-container > button {
      width: 100px;
      height: 50px;
      }
    </style>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
      <img src="/video_feed" width="640" height="480">
      <div class="grid-container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); gap: 10px; justify-items: center; align-items: center;">
          <div></div>
          <button id="forward" style="width: 100px; height: 100px;">Forward</button>
          <div></div>
          <button id="left" style="width: 100px; height: 100px;">Left</button>
          <div></div>
          <button id="right" style="width: 100px; height: 100px;">Right</button>
          <div></div>
          <button id="backward" style="width: 100px; height: 100px;">Backward</button>
          <div></div>
        </div>
      </div>
    </div>
  </body>
</html>